# macOS system files
.DS_Store
.AppleDouble
.LSOverride

Icon

# Thumbnails
._*

# Files that might appear when a volume is mounted
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd

# macOS metadata files
.com.apple.timemachine.donotpresent
.metadata_never_index
.apdisk

__pycache__/
